<a href="https://colab.research.google.com/github/KofiOseiOfori/exploratory-analysis/blob/main/Exploration_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import getpass

In [ ]:
user = input('Enter your username: ')
password = getpass.getpass(prompt = 'Enter your password: ')

### Importing Libraries

In [ ]:
import scipy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [ ]:
from sklearn import datasets
from sklearn import model_selection
from pandas.plotting import scatter_matrix

### Defining Path of Data

In [ ]:
data = r"C:\Users\Jacin\OneDrive\Documents\Data_Analysis\Applicants.xlsx"

In [ ]:
banking = pd.read_excel(data , sheet_name='Applicants')

In [ ]:
banking.head()

,ID,checking,duration,history,purpose,amount,savings,employed,installp,marital,...,property,age,other,housing,existcr,job,depends,telephon,foreign,good_bad
0,1,1,6,4,3.0,1169,5,5,4,3,...,1,67,3,2,2,3,1,2,1,good
1,2,2,48,2,3.0,5951,1,3,2,2,...,1,22,3,2,1,3,1,1,1,bad
2,3,4,12,4,6.0,2096,1,4,2,3,...,1,49,3,2,1,2,2,1,1,good
3,4,1,42,2,2.0,7882,1,4,2,3,...,2,45,3,3,1,3,2,1,1,good
4,5,1,24,3,0.0,4870,1,3,3,3,...,4,53,3,3,2,3,2,1,1,bad

In [ ]:
banking.shape

(1000, 22)

In [ ]:
banking.dtypes

ID            int64
checking      int64
duration      int64
history       int64
purpose     float64
amount        int64
savings       int64
employed      int64
installp      int64
marital       int64
coapp         int64
resident      int64
property      int64
age           int64
other         int64
housing       int64
existcr       int64
job           int64
depends       int64
telephon      int64
foreign       int64
good_bad     object
dtype: object

In [ ]:
xtab = pd.crosstab(banking['good_bad'],banking['foreign'] )
xtab

foreign     1   2
good_bad
bad       296   4
good      667  33

In [ ]:
xtabnew = pd.crosstab(banking['good_bad'],banking['foreign'], normalize='index' ); print(xtabnew)

foreign          1         2
good_bad
bad       0.986667  0.013333
good      0.952857  0.047143

In [ ]:
n = pd.Series(xtabnew.sum(1)); print(n)

good_bad
bad     1.0
good    1.0
dtype: float64